+++
title = "DreamFactory"
linkTitle = "DreamFactory"

+++

{{< blocks/cover title="DreamFactory Documentation" image_anchor="top" height="full" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		See the Docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg mr-3 mb-4" href="https://github.com/dreamfactorysoftware/dreamfactory" style="background-image: linear-gradient(
		105deg, #3aaa6d, #00987b); color: white;">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Everything you need to get started with DreamFactory</p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Welcome to the DreamFactory platform! Whether you’re an open source user, or a paid customer taking advantage of DreamFactory’s advanced capabilities, we wrote this guide to help you begin incorporating the platform into your organization in the most efficient way possible.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature title="Instant APIs without code." %}}
Eliminate the biggest bottleneck in modern IT. Launch your project in weeks rather than months. DreamFactory instantly creates a secure, standardized, reusable, fully documented, and live REST API.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-bookmark" title="Checkout our Blog" url="https://blog.dreamfactory.com/" %}}
Best Practice API Management and more!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/dfsoftwareinc" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}

